/* Header */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 16px;
}

.header p {
    color: #f9faf8;
    font-size: 24px;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 16px;;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Hero section left */

.hero-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding: 48px;
}

.hero-section .child-left {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-section .main-text{
    font-size: 42px;
    font-weight: bolder;
    color: #F9FAF8;
  }

  .hero-section .secondary-text{
    font-size: 18px;
    color: #E5E7EB;
  }

  .hero-section button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
  }

  /* Hero section right */

  .child-right {
    width: 420px;
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
  }

  /* Information section */

  .information-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    gap: 32px;
  }

  .information-section .heading{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
  }

  .information-section .image{
    width: 125px;
    height: 125px;
    border: 3px solid #3882F6;
    border-radius: 8px;
  }


  .information-section .images-main-container {
    display: flex;
    gap: 32px;
  }

  .information-section .images-secondary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 158px;
    gap: 8px;
  }
