/* Header */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 16px;
}

.header p {
    color: #f9faf8;
    font-size: 24px;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 16px;;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Hero section left */

.hero-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding: 48px;
}

.hero-section .child-left {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-section .main-text{
    font-size: 42px;
    font-weight: bolder;
    color: #F9FAF8;
  }

  .hero-section .secondary-text{
    font-size: 18px;
    color: #E5E7EB;
  }

  .hero-section button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
  }

  /* Hero section right */

  .child-right {
    width: 420px;
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
  }

  /* Information section */

  .information-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    gap: 32px;
  }

  .information-section .heading{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
  }

  .information-section .image{
    width: 125px;
    height: 125px;
    border: 3px solid #3882F6;
    border-radius: 8px;
  }


  .information-section .images-main-container {
    display: flex;
    gap: 32px;
  }

  .information-section .images-secondary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 158px;
    gap: 8px;
  }

  /* Quote section */

  .quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    padding: 64px;
  }

  .quote-section .quote {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    max-width: 820px;
  }

  .quote-section .author {
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
    margin: 10px 0 0 540px;
  }

  /* Sign-up section */

  .sign-up-section{
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }

  .sign-up-section .sign-up-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 56px 200px;
    gap: 110px;
    border-radius: 8px;
  }

  .sign-up-section .main-text{
    font-size: 24px;
    color: white;
  }

  .sign-up-section .secondary-text{
    color: #E5E7EB;
  }

  .sign-up-section button{
    padding: 8px 32px;
    border-radius: 8px;
    border: 3px solid white;
    background-color: #3882F6;
    color: white;
  }

  /* Footer section */

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 40px;
    margin-top: 80px;
  }
